.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      %a.chat-side__user--new-group{href: new_group_path}
        %i.fa.fa-pencil-square-o
      %a.chat-side__user--edit-user{href: "/users/#{current_user.id}/edit"}
        %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      - @groups.each do |group|
        .chat-side__group
          .chat-side__group-name
            = group.name
          .chat-side__group-message
            コメント1
