%body
  =render partial: "messages/chatside"
  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        .chat-main__header--group-name
          グループA
        %a.chat-main__header--group-edit-btn{href: "/groups/652/edit"}
          Edit
      .chat-main__header-members
        MEMBER:
        %i
          ken3
    .chat-main__body
      .chat-main__body--messages-list
        .chat-main__message.clearfix{"data-id": "987"}
          .chat-main__message-name
            ken3
          .chat-main__message-time
            2017/10/26 11:32:38
          .chat-main__message-body
            コメント1
            %img.chat-main__message-body-image{src: ""}/
    .chat-main__footer
      %form#new_message.chat-main__footer-form{"accept-charset": "UTF-8", action: "/groups/652/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        .chat-main__footer-body
          %input#message_body.message{name: "message[body]", placeholder: "type a message", type: "text"}/
          %label.chat-file{for: "message_image"}
            %input#message_image.image{name: "message[image]", type: "file"}
            %i.fa.fa-image.fa-lg
        %input.submit{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
