$chat-side-color: #FFFFFF;
$bar-color: #38AEF0 !default;
$middle-word-color: #434A54 !default;
$small-word-color: #999999 !default;
$account-page-color: #fff !default;
$border-color: #ddd !default;
$border-bottom-color: #38aef0 !default;
$field-color: #d65f4c !default;
